{% include "main/includes/navbar.html" %}

{% load static %}


<script src="{% static 'main/js/script.js' %}" type="text/javascript"></script>

<div style="text-align: center;">
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'main/images/bg7.jpg' %}"></div>
    </div>
    <div class="section " style="color: rgb(141, 238, 29); background-color: antiquewhite; height: 60%;">
        <div class="row container">
            <h2 class="header">Our mission</h2>
            <br>
            <p class="grey-text text-darken-3 lighten-3">At <b><i> Supercars</i></b>, we believe there is a better way
                to find your dream car. A more
                valuable way where customers are earned rather than bought.</p>
            <p class="grey-text text-darken-3 lighten-3"> We're obsessively passionate about it, and
                our mission is to help people achieve it. We focus on search engine optimization. </p>
            <p class="grey-text text-darken-3 lighten-3">It's one of the least
                understood and least transparent aspects for finding your dream car, and we see that as an opportunity.
            </p>
            <p class="grey-text text-darken-3 lighten-3">We're
                excited to simplify <b><i> Supercars</i></b> for everyone through our software, education, and
                community.</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'main/images/bg1.jpg' %}"></div>
    </div>
    <div class="section " style="color: rgb(43, 93, 201); background-color: bisque;">
        <div class="row container">
            <h2 class="header">Our essence</h2>
            <br>
            <p class="grey-text text-darken-3 lighten-3">At our core, <b><i> Supercars</i></b> operates on Imagination,
            </p>
            <p class="grey-text text-darken-3 lighten-3"> Individuality, Inclusivity & </p>
            <p class="grey-text text-darken-3 lighten-3"> Impact</p>
        </div>
    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'main/images/bg7.jpg' %}"></div>
    </div>
    <div class="section " style="color: rgb(224, 49, 72); background-color: bisque; height: 50%;">
        <div class="row container">
            <h2 class="header">Our promise</h2>
            <br>
            <p class="grey-text text-darken-3 lighten-3">Here at <b><i> Supercars</i></b>, we try to give you as much
                details of your dream cars as possible. </p>
            <p class="grey-text text-darken-3 lighten-3">We deliver optimistic and diverse information, experiences,
            </p>
            <p class="grey-text text-darken-3 lighten-3">and points of views to our smart, curious,
                passionate people. </p>
            <p class="grey-text text-darken-3 lighten-3">We are working 24/7 to make this website helpful. </p>
        </div>


    </div>

    <div class="parallax-container">
        <div class="parallax"><img src="{% static 'main/images/bg1.jpg' %}"></div>
    </div>
    <div class="section " style="color: rgb(216, 107, 43); background-color: bisque;">
        <div class="row container">
            <h2 class="header">Our vibe</h2>
            <br>
            <p class="grey-text text-darken-3 lighten-3">At <b><i> Supercars</i></b>, we make magic. We dream it,</p>
            <p class="grey-text text-darken-3 lighten-3">and then do it-together-everyday reinventing </p>
            <p class="grey-text text-darken-3 lighten-3">what's possible. </p>
        </div>
    </div>


</div>





<div class="col s6" style="text-align:center; background-color: gray;">
    <br>
    <span>&copy;2021 Ayush | All rights reserved.</span>
    <br>
    <span>Django Project | Made by Ayush Kumar Singh | Supercars</span>
</div>