{% include "main/includes/navbar.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="{% static 'main/js/script.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'main/css/materialise.css' %}">

<div>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab"><a class="active" href="#test0">ABOUT</a></li>
        <li class="tab"><a href="#test1">IMAGES</a></li>
        <li class="tab"><a href="#test2">SPECS</a></li>
        <li class="tab"><a href="#test3">PRICE</a></li>
    </ul>

    <div id="test0" class="col s12">

        <div class="container">
            <h4>BMW Z4 Latest Update</h4>
            <p>BMW India has listed the 2019 Z4 on its official website, suggesting its imminent launch. It is expected
                to be available in two variants: sDrive20i and the M40i. Where the sDrive20i is powered by a 2.0-litre
                petrol engine that makes 197PS of power and 320Nm of torque, the M40i gets a 3.0-litre unit that
                produces 340PS and 500Nm. Both engines are mated to an 8-speed automatic transmission.</p>
            <p>As far as features are concerned, the Z4 will be equipped with a 10.25-inch all-digital instrument
                cluster, 10.25-inch touchscreen infotainment system, Harman and Kardon music system, electrically
                adjustable front seats, ambient lighting, heads-up display and two-zone climate control. Safety features
                on offer include collision and pedestrian warning with city braking, lane departure warning, active
                cruise control with stop and go function, traffic sign recognition, distance information, rear parking
                sensors with cross-traffic alert and handsfree parking.</p>
            <p>The BMW Z4 is expected to go on sale in the coming months. It is likely to be priced around Rs 80 lakh.
                Once launched, it will take on the likes of the Mercedes-Benz SLC and the Porsche 718 Boxster.</p>
        </div>

        <br><br>
        <div class="container">
            <h4>BMW Z4 User Reviews</h4>

            <div class="row">
                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Excellent Car</b></p> <br>
                                <p>Best car for a high-speed driver this car had a bold solid design with a dashing
                                    look. I love this car, this car is one of my best cars,this car has the best engine
                                    that can make this car a bold model of BMW, this car is just awesome, I want to
                                    refer everyone to buy this car. </p>
                            </div>
                            <div class="card-action">
                                <p> By Tech Bharat</p>
                                <p><small>On: Feb 22, 2020 | 59 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Superb car.</b></p> <br>
                                <p>This is a supercar with smart functioning properly and the design of the car is very
                                    awesome.Nice car and lovely design and etc I like is. This car very much and nice
                                    features and looking model. </p>
                            </div>
                            <div class="card-action">
                                <p>By Sachin Sahu</p>
                                <p><small>On: Apr 25, 2019 | 33 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>It's A Very Comfortable And Luxury Car.</b></p> <br>
                                <p>It's a very good and comfortable and luxury car. I love it because of its look. It
                                    has gorgeous looks.
                                </p>
                            </div>
                            <div class="card-action">
                                <p>By Rohit Jadaun</p>
                                <p><small>On: May 13, 2020 | 33 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Best Car At The Best Price.</b></p> <br>
                                <p> have owned this car for 1 year. It is good and overall speed is awesome While
                                    opening, I feel so much aggressive.
                                </p>
                            </div>
                            <div class="card-action">
                                <p>By Nilamadhab Pattnaik</p>
                                <p><small>On: Jun 28, 2020 | 35 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<div id="test1" class="col s12">
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/b1.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/b2.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/b3.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/b4.jpg' %}" height="100%" width="100%">
        </div>
    </div>

</div>

<div id="test2" class="col s12">
    <div class="container">
        <h4>Z4 Specs, Features and Price</h4>
        <p>The BMW Z4 has 2 Petrol Engine on offer. The Petrol engine is 1998 cc and 2998 cc . It is available with the
            Automatic transmission. Depending upon the variant and fuel type the Z4 has a mileage of 11.29 to 14.37
            kmpl. The Z4 is a 2 seater and has length of 4324 mm, width of 2024 mm and a wheelbase of 2470 mm.</p>
    </div>
    <div class="container">
        <h4>Key Specifications of BMW Z4</h4>
        <div class="row">

            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>ARAI Mileage</td>

                        <td>11.29 kmpl</td>
                    </tr>
                    <tr>
                        <td>Fuel Type</td>

                        <td>Petrol</td>
                    </tr>
                    <tr>
                        <td>Fuel Tank Capacity</td>

                        <td>52.0</td>
                    </tr>
                    <tr>
                        <td>Engine Displacement (cc)</td>

                        <td>2998</td>
                    </tr>
                    <tr>
                        <td>Max Torque (nm@rpm)</td>

                        <td>500Nm@1600-4500rpm</td>
                    </tr>
                    <tr>
                        <td>TransmissionType</td>

                        <td>Automatic</td>
                    </tr>
                    <tr>
                        <td>Max Power (bhp@rpm)</td>

                        <td>335bhp@5000-6500rpm</td>
                    </tr>
                    <tr>
                        <td>Seating Capacity</td>

                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Boot Space (Litres)</td>

                        <td>281</td>
                    </tr>
                    <tr>
                        <td>Body Type</td>

                        <td>Convertible</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <h4>Key Features of BMW Z4</h4>
        <div class="row">

            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>Power Steering</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Anti Lock Braking System</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Driver Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Automatic Climate Control</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Multi-function Steering Wheel</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Power Windows Front</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Air Conditioner</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Passenger Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Alloy Wheels</td>

                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br><br><br>
    <div style="text-align: center;">
        <h6> <i> For more information, <a href="https://www.cardekho.com/bmw/z4/specs" target="_blank"><strong>click
                        here.</strong></a>
            </i>
        </h6>
    </div>
    <br>

</div>



<div id="test3" class="col s12">
    <div class="container">
        <h4>BMW Z4 price in New Delhi</h4>
        <p>BMW Z4 price in New Delhi start at Rs. 67.00 Lakh. The lowest price model is BMW Z4 sDrive 20i and the most
            priced model of BMW Z4 M40i priced at Rs. 81.90 Lakh. Used BMW Z4 in New Delhi available for sale at Rs.
            35.00 Lakh onwards. Visit your nearest BMW Z4 showroom in New Delhi for best offers. Compared primarily with
            Porsche 718 price in New Delhi starting Rs. 85.46 Lakh and Volvo XC90 price in New Delhi starting Rs. 80.90
            Lakh.</p>
        <br>

        <table class="striped">
            <thead>
                <tr>
                    <th>VARIANTS</th>
                    <th>ON-ROAD PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Z4 M40i</td>
                    <td>₹ 94.34 Lakh*</td>
                </tr>
                <tr>
                    <td>Z4 sDrive 20i</td>
                    <td>₹ 77.23 Lakh*</td>
                </tr>
            </tbody>

        </table>
    </div>
    <br><br>
    <div class="container">
        <h4>BMW Z4 On Road Price in New Delhi</h4>
        <table class="striped ">
            <thead>
                <tr>
                    <th><b><i><u> sDrive 20i(Petrol) (Base Model)</u></i></b></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ex-Showroom Price</td>

                    <td>₹ 67,00,000</td>
                </tr>
                <tr>
                    <td>RTO</td>

                    <td>₹ 6,70,000</td>
                </tr>
                <tr>
                    <td>Insurance</td>

                    <td>₹ 2,86,498</td>
                </tr>
                <tr>
                    <td>Others</td>

                    <td>₹ 67,000</td>
                </tr>
                <br>
                <tr>
                    <td><b> On-Road Price in New Delhi :</b></td>

                    <td>₹ 77,23,498*</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <table class="striped ">
            <thead>
                <tr>
                    <th><b><i><u> M40i(Petrol) (Top Model)</u></i></b></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ex-Showroom Price</td>

                    <td>₹ 81,90,000</td>
                </tr>
                <tr>
                    <td>RTO</td>

                    <td>₹ 8,19,000</td>
                </tr>
                <tr>
                    <td>Insurance</td>

                    <td>₹ 3,43,956</td>
                </tr>
                <tr>
                    <td>Others</td>

                    <td>₹ 81,900</td>
                </tr>
                <br>
                <tr>
                    <td><b> On-Road Price in New Delhi :</b></td>

                    <td>₹ 94,34,856*</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="col s6" style="position: relative;  bottom: 0%; text-align:center; background-color: gray;">
    <br>
    <span>&copy;2021 Ayush | All rights reserved.</span>
    <br>
    <span>Django Project | Made by Ayush Kumar Singh | Supercars</span>
</div>