{% include "main/includes/navbar.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="{% static 'main/js/script.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'main/css/materialise.css' %}">

<div>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab"><a class="active" href="#test0">ABOUT</a></li>
        <li class="tab"><a href="#test1">IMAGES</a></li>
        <li class="tab"><a href="#test2">SPECS</a></li>
        <li class="tab"><a href="#test3">PRICE</a></li>
    </ul>

    <div id="test0" class="col s12">

        <div class="container">
            <h4>Ferrari F8 Tributo Latest Update</h4>
            <p>Ferrari F8 Tributo is a 2 seater Coupe available in a price range of ₹ 4.02 Cr*. It is available in 1
                variants, a 3902 cc, BS6 and a single Automatic transmission. Other key specifications of the F8 Tributo
                include a kerb weight of 1435kg, ground clearance of and boot space of 200 Lite₹ The F8 Tributo is
                available in 14 colou₹ Over 6 User reviews basis Mileage, Performance, Price and overall experience of
                users for Ferrari F8 Tributo.</p>
        </div>

        <br><br>
        <div class="container">
            <h4>Ferrari F8 Tributo User Reviews</h4>

            <div class="row">
                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>The Dream Car</b></p> <br>
                                <p>The Ferrari F8 Tributo is my dream car and one of the most iconic sports car of all
                                    time, I
                                    know that every teenager has a crush on Ferrari and I am no exception, will
                                    definitely own it 1 day. </p>
                            </div>
                            <div class="card-action">
                                <p> By You Tuber</p>
                                <p><small>On: Jan 31, 2021 | 132 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Best car in performance.</b></p> <br>
                                <p>I drove this car which was owned by my friend. When he filled a full gallon, then he
                                    oned the high-performance mode and the car didn't drive long enough. The styling of
                                    the car and the comfort is top-notch which can not be compared by any brand. </p>
                            </div>
                            <div class="card-action">
                                <p>By Sravani Appasani</p>
                                <p><small>On: Mar 09, 2020 | 105 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Very Expensive.</b></p> <br>
                                <p>It's a Ferrari, no need to tell about its performance. But the expenses which it
                                    takes are too much.
                                </p>
                            </div>
                            <div class="card-action">
                                <p>By Paras Meena</p>
                                <p><small>On: Nov 03, 2020 | 52 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Great Car.</b></p> <br>
                                <p>It's a great car and its looks are also very great. I like this car because it's
                                    sound is so loud and amazing.
                                </p>
                            </div>
                            <div class="card-action">
                                <p>By Rajeev Awasthi</p>
                                <p><small>On: Jan 16, 2020 | 33 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<div id="test1" class="col s12">
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/f1.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/f2.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/f3.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/f4.jpg' %}" height="100%" width="100%">
        </div>
    </div>

</div>

<div id="test2" class="col s12">
    <div class="container">
        <h4>F8 Tributo Specs, Features and Price</h4>
        <p>The Ferrari F8 Tributo has 1 Petrol Engine on offer. The Petrol engine is 3902 cc . It is available with the
            Automatic transmission. Depending upon the variant and fuel type the F8 Tributo has a mileage of . The F8
            Tributo is a 2 seater and has length of 4611, width of 1979 and a wheelbase of 2650.</p>
    </div>
    <div class="container">
        <h4>Key Specifications of Ferrari F8 Tributo</h4>
        <div class="row">

            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>Fuel Type</td>

                        <td>Petrol</td>
                    </tr>
                    <tr>
                        <td>Fuel Tank Capacity</td>

                        <td>78.0</td>
                    </tr>
                    <tr>
                        <td>Engine Displacement (cc)</td>

                        <td>3902</td>
                    </tr>
                    <tr>
                        <td>Max Torque (nm@rpm)</td>

                        <td>770nm@3250rpm</td>
                    </tr>
                    <tr>
                        <td>TransmissionType</td>

                        <td>Automatic</td>
                    </tr>
                    <tr>
                        <td>Max Power (bhp@rpm)</td>

                        <td>710.74bhp@8000rpm</td>
                    </tr>
                    <tr>
                        <td>Seating Capacity</td>

                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Boot Space (Litres)</td>

                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Body Type</td>

                        <td>Coupe</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <h4>Key Features of Ferrari F8 Tributo</h4>
        <div class="row">

            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>Power Steering</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Anti Lock Braking System</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Driver Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Automatic Climate Control</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Multi-function Steering Wheel</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Power Windows Front</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Air Conditioner</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Passenger Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Alloy Wheels</td>

                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br><br><br>
    <div style="text-align: center;">
        <h6> <i> For more information, <a href="https://www.cardekho.com/ferrari/f8-tributo/specs"
                    target="_blank"><strong>click here.</strong></a>
            </i>
        </h6>
    </div>
    <br>

</div>



<div id="test3" class="col s12">
    <div class="container">
        <h4>Ferrari F8 Tributo price in New Delhi</h4>
        <p>Ferrari F8 Tributo price in New Delhi start at ₹ 4.02 Cr. The lowest price model is Ferrari F8 Tributo V8
            Turbo and the most priced model of Ferrari F8 Tributo V8 Turbo priced at ₹ 4.02 Cr. Visit your nearest
            Ferrari F8 Tributo showroom in New Delhi for best offe₹ Compared primarily with Lamborghini Huracan EVO
            price in New Delhi starting ₹ 3.21 Cr and Lamborghini Urus price in New Delhi starting ₹ 3.15 Cr.</p>
        <br>

        <table class="striped">
            <thead>
                <tr>
                    <th>VARIANTS</th>
                    <th>ON-ROAD PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>F8 Tributo V8 Turbo</td>
                    <td>₹ 4.62 Cr*</td>
                </tr>
            </tbody>

        </table>
    </div>
    <br><br>
    <div class="container">
        <h4>Ferrari F8 Tributo On Road Price in New Delhi</h4>
        <table class="striped ">
            <thead>
                <tr>
                    <th><b><i><u> V8 Turbo(Petrol) (Base Model)</u></i></b></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ex-Showroom Price</td>

                    <td>₹ 4,02,00,000</td>
                </tr>
                <tr>
                    <td>RTO</td>

                    <td>₹ 40,20,000</td>
                </tr>
                <tr>
                    <td>Insurance</td>

                    <td>₹ 15,78,339</td>
                </tr>
                <tr>
                    <td>Others</td>

                    <td>₹ 4,02,000</td>
                </tr>
                <br>
                <tr>
                    <td><b> On-Road Price in New Delhi :</b></td>

                    <td>₹ 4,62,00,339*</td>
                </tr>
            </tbody>
        </table>
        <br><br>
    </div>
</div>


<div class="col s6" style="position: relative;  bottom: 0%; text-align:center; background-color: gray;">
    <br>
    <span>&copy;2021 Ayush | All rights reserved.</span>
    <br>
    <span>Django Project | Made by Ayush Kumar Singh | Supercars</span>
</div>