{% include "main/includes/navbar.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="{% static 'main/js/script.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'main/css/materialise.css' %}">

<div>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab"><a class="active" href="#test0">ABOUT</a></li>
        <li class="tab"><a href="#test1">IMAGES</a></li>
        <li class="tab"><a href="#test2">SPECS</a></li>
        <li class="tab"><a href="#test3">PRICE</a></li>
    </ul>

    <div id="test0" class="col s12">

        <div class="container">
            <h4>AMG GT Latest Update</h4>
            <p>Mercedes-Benz has launched two variants of the GT in India. These are the Mercedes-AMG GT
                R
                and the GT
                Roadster. While the former is priced at Rs 2.23 crore, the latter will cost you Rs 2.19
                crore (both
                prices, ex-showroom).The addition of these models take the count of AMG-powered models
                on
                sale in India
                to twelve.

                The Mercedes-AMG GT R is the most hardcore version of the standard Mercedes-AMG GT. It
                is
                powered by a
                4.0-litre twin-turbo V8 petrol engine that produces 585PS of power and 700Nm of torque.
                Mated to the
                engine is a 7-speed, dual-clutch transmission that sends the power to the rear wheels
                only.
                It completes
                the 0-100kmph sprint in 3.6 seconds and can reach a top speed of 318kmph. The asking
                price
                is expected
                to be around the Rs 3 crore mark. Its list of rivals include the Lamborghini Huracan LP
                580-2 and the
                Ferrari 488 GTB.

                The other offering, the Mercedes-AMG GT Roadster, also gets the same engine as the GT R
                but
                in a detuned
                form. It generates 476PS of power and 630Nm of torque. Transmission duties are handled
                by
                the same
                7-speed dual-clutch gearbox and power is also sent to the rear wheels only. 0-100kmph is
                dealt in 4.0
                seconds and the car tops out at 302kmph. It rivals the likes of the Lamborghini Huracan
                RWD
                Spyder and
                Ferrari California T.</p>

            <p>Mercedes-Benz AMG GT is a 2 seater Coupe available in a price range of Rs. 2.27 - 2.63
                Cr*.
                It is
                available in 2 variants, a 3982 cc, BS6 and a single Automatic transmission. Other key
                specifications of
                the AMG GT include a kerb weight of 1630kg, ground clearance of and boot space of 285
                Liters. The AMG GT
                is available in 12 colours. Over 15 User reviews basis Mileage, Performance, Price and
                overall
                experience of users for Mercedes-Benz AMG GT.</p>
        </div>

        <br><br>
        <div class="container">
            <h4>Mercedes-Benz AMG GT User Reviews</h4>

            <div class="row">
                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Mercedes-Benz AMG GT It Has Amazing Speed</b></p> <br>
                                <p>Mercedes-AMG GT R is a similar version of the standard. It comes wIth 4.0-litre
                                    twin-turbo V8 petrol engine and I Love the speed of this car. It completes the
                                    0-100kmph sprint in 3.6 seconds. </p>
                            </div>
                            <div class="card-action">
                                <p>By Rajesh Sani</p>
                                <p><small>On: Jul 20, 2020 | 70 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Mercedes AMG - A Pro</b></p> <br>
                                <p>The new AMG GT R Pro gets 577 horsepower and costs the same as that. It still gets
                                    the 9 stage traction control, also has a twin-turbo V8 engine and has a lot of
                                    presence on the road. </p>
                            </div>
                            <div class="card-action">
                                <p>By Vedang Gaur</p>
                                <p><small>On: Mar 20, 2019 | 38 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Superb and Glorious</b></p> <br>
                                <p>Best car of Mercedes. It is very luxurious and comfy. Very smooth to drive and sports
                                    mode gives a lot of powwr to it. </p>
                            </div>
                            <div class="card-action">
                                <p>By Ravinder</p>
                                <p><small>On: Mar 15, 2018 | 49 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Best in class</b></p> <br>
                                <p>Mercedes-Benz AMG GT Awesome To use. Price affordable only for high-class people.
                                </p>
                            </div>
                            <div class="card-action">
                                <p>By Ilaya Kumar</p>
                                <p><small>On: Jan 27, 2019 | 38 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<div id="test1" class="col s12">
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/m1.jpg' %}" height="100%" width="100%">
        </div>
        <br>
    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/m2.jpg' %}" height="100%" width="100%">
        </div>
        <br>
    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/m3.jpg' %}" height="100%" width="100%">
        </div>
        <br>
    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/m4.jpg' %}" height="100%" width="100%">
        </div>
    </div>

</div>

<div id="test2" class="col s12">
    <div class="container">
        <h4>AMG GT Specs, Features and Price</h4>
        <p>The Mercedes-Benz AMG GT has 1 Petrol Engine on offer. The Petrol engine is 3982 cc . It is available
            with the Automatic transmission. Depending upon the variant and fuel type the AMG GT has a mileage of
            12.65 kmpl. The AMG GT is a 2 seater and has length of 4551mm, width of 2075mm and a wheelbase of
            2630mm.</p>
    </div>
    <div class="container">
        <h4>Key Specifications of Mercedes-Benz AMG GT</h4>
        <div class="row">
            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>ARAI Mileage</td>

                        <td>12.65 kmpl</td>
                    </tr>
                    <tr>
                        <td>Engine Displacement (cc)</td>

                        <td>$3982</td>
                    </tr>
                    <tr>
                        <td>Max Torque (nm@rpm)</td>

                        <td>700Nm@2100–5500rpm</td>
                    </tr>
                    <tr>
                        <td>TransmissionType</td>

                        <td>Automatic</td>
                    </tr>
                    <tr>
                        <td>Fuel Tank Capacity</td>

                        <td>75.0</td>
                    </tr>

                    <tr>
                        <td>Fuel Type</td>

                        <td>Petrol</td>
                    </tr>
                    <tr>
                        <td>Max Power (bhp@rpm)</td>

                        <td>576.63bhp@6250rpm</td>
                    </tr>
                    <tr>
                        <td>Seating Capacity</td>

                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Boot Space (Litres)</td>

                        <td>285</td>
                    </tr>
                    <tr>
                        <td>Body Type</td>

                        <td>Coupe</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <h4>Key Features of Mercedes-Benz AMG GT</h4>
        <div class="row">
            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>Power Steering</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Anti Lock Braking System</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Driver Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Automatic Climate Control</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Multi-function Steering Wheel</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Power Windows Front</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Air Conditioner</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Passenger Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Alloy Wheels</td>

                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br><br><br>
    <div style="text-align: center;">
        <h6> <i> For more information, <a
                    href="https://www.cardekho.com/mercedes-benz/mercedes-benz-amg-gt-specifications.htm"
                    target="_blank"><strong>click
                        here.</strong></a>
            </i>
        </h6>
    </div>
    <br>

</div>



<div id="test3" class="col s12">
    <div class="container">
        <h4>Mercedes-Benz AMG GT price in New Delhi</h4>
        <p>Mercedes-Benz AMG GT price in New Delhi start at Rs. 2.27 Cr. The lowest price model is Mercedes-Benz AMG
            GT Roadster and the most priced model of Mercedes-Benz AMG GT R priced at Rs. 2.63 Cr. Visit your
            nearest Mercedes-Benz AMG GT showroom in New Delhi for best offers. Compared primarily with Nissan GT-R
            price in New Delhi starting Rs. 2.12 Cr and Land Rover Range Rover price in New Delhi starting Rs. 2.10
            Cr.</p>
        <br>

        <table class="striped">
            <thead>
                <tr>
                    <th>VARIANTS</th>
                    <th>ON-ROAD PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AMG GT Roadster</td>
                    <td>Rs. 2.61 Cr*</td>
                </tr>
                <tr>
                    <td>AMG GT R</td>
                    <td>Rs. 3.03 Cr*</td>
                </tr>

            </tbody>

        </table>
    </div>
    <br><br>
    <div class="container">
        <h4>Mercedes-Benz AMG GT On Road Price in New Delhi</h4>
        <table class="striped ">

            <thead>
                <tr>
                    <th><b><i><u> Roadster(Petrol) (Base Model)</u></i></b></th>

                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>Ex-Showroom Price</td>

                    <td>Rs.2,27,33,6,26</td>
                </tr>
                <tr>
                    <td>RTO</td>

                    <td>Rs.22,73,362</td>
                </tr>
                <tr>
                    <td>Insurance</td>

                    <td>Rs.9,04,793</td>
                </tr>
                <tr>
                    <td>Others</td>

                    <td>Rs.2,27,336</td>
                </tr>
                <br>
                <tr>
                    <td><b> On-Road Price in New Delhi :</b></td>

                    <td>Rs.2,61,39,118*</td>
                </tr>
            </tbody>
        </table>
        <table class="striped ">

            <thead>
                <tr>
                    <th><b><i><u> R(Petrol) (Top Model)</u></i></b></th>

                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>Ex-Showroom Price</td>

                    <td>Rs.2,63,83,660</td>
                </tr>
                <tr>
                    <td>RTO</td>

                    <td>Rs.26,38,366</td>
                </tr>
                <tr>
                    <td>Insurance</td>

                    <td>Rs.10,45,547</td>
                </tr>
                <tr>
                    <td>Others</td>

                    <td>Rs.2,63,836</td>
                </tr>
                <br>
                <tr>
                    <td><b> On-Road Price in New Delhi :</b></td>

                    <td>Rs.3,03,31,410*</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="col s6" style="position: relative;  bottom: 0%; text-align:center; background-color: gray;">
    <br>
    <span>&copy;2021 Ayush | All rights reserved.</span>
    <br>
    <span>Django Project | Made by Ayush Kumar Singh | Supercars</span>
</div>