{% include "main/includes/navbar.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="{% static 'main/js/script.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'main/css/materialise.css' %}">

<div>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab"><a class="active" href="#test0">ABOUT</a></li>
        <li class="tab"><a href="#test1">IMAGES</a></li>
        <li class="tab"><a href="#test2">SPECS</a></li>
        <li class="tab"><a href="#test3">PRICE</a></li>
    </ul>

    <div id="test0" class="col s12">

        <div class="container">
            <h4>Veyron Latest Update</h4>
            <p>April 28, 2015: Bugatti, originally French and now owned by Volkswagen group is oiling up its Veyron
                successors named as Chiron. Reports say that this all new car hypercar will do 0-100 kmph in just 2
                seconds. Bugatti is expected to use the W16 8.0 litre engine from the Veyron that may produce more than
                1500 PS and will add to the Formula1 car beating performance. The torque is believed to remain 1500 Nm
                but it will be coming in at a lower rpm than the current car. Moreover, Chiron could even be a hybrid as
                it’s name indicates towards a mythical animal, half human and half horse.</p>
        </div>

        <br><br>
        <div class="container">
            <h4>Bugatti Veyron User Reviews</h4>

            <div class="row">
                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>New Bugatti Is Superb</b></p> <br>
                                <p>Superb car, amazing speed, the sound is superb but it costs a lot but I love the car
                                    Its design is amazing for the first drive I love Bugatti And all its models. </p>
                            </div>
                            <div class="card-action">
                                <p> By Unboxing And More With Raj And Shreya</p>
                                <p><small>On: Apr 05, 2019 | 41 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Nice car</b></p> <br>
                                <p>Look and Style:elegant Comfort: could have been a little better Pickup: could have
                                    used nitro injection to make it swifter Mileage doesnt matter Best Features: b comes
                                    to halt in less than 4 secs Needs to improve: comfort and pick up Overall
                                    Experience: 4/5 </p>
                            </div>
                            <div class="card-action">
                                <p>By Raja</p>
                                <p><small>On: Jul 06, 2013 | 1804 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Hulk coming.</b></p> <br>
                                <p>I love his muscular Look. When he comes from the front it Looks like HULK is coming.
                                    Bugatti Veyron is my love and crush. I love this more than any Homosapien.
                                </p>
                            </div>
                            <div class="card-action">
                                <p>By Niraj Kumar</p>
                                <p><small>On: Jan 28, 2019 | 45 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Speedless and limitless</b></p> <br>
                                <p>Best car in the world and best speed ever. It has the best model and design
                                    ever.Excellent car with 8000 ccs. My lovely car. In the future, I will buy it. Its
                                    price is also less than the other models of it.
                                </p>
                            </div>
                            <div class="card-action">
                                <p>By Layak Sagari</p>
                                <p><small>On: Jun 16, 2019 | 19 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<div id="test1" class="col s12">
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/bu1.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/bu2.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/bu3.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/bu4.jpg' %}" height="100%" width="100%">
        </div>
    </div>

</div>

<div id="test2" class="col s12">
    <div class="container">
        <h4>Veyron Specs, Features and Price</h4>
        <p>The Bugatti Veyron has 1 Petrol Engine on offer. The Petrol engine is 7993 cc . It is available with the
            Automatic transmission. Depending upon the variant and fuel type the Veyron has a mileage of 6.8 kmpl. The
            Veyron is a 2 seater and has length of 4462mm, width of 1998mm and a wheelbase of 2710mm.</p>
    </div>
    <div class="container">
        <h4>Key Specifications of Bugatti Veyron</h4>
        <div class="row">

            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>ARAI Mileage</td>

                        <td>6.8 kmpl</td>
                    </tr>
                    <tr>
                        <td>Fuel Type</td>

                        <td>Petrol</td>
                    </tr>
                    <tr>
                        <td>Fuel Tank Capacity</td>

                        <td>100.0</td>
                    </tr>
                    <tr>
                        <td>Engine Displacement (cc)</td>

                        <td>7993</td>
                    </tr>
                    <tr>
                        <td>Max Torque (nm@rpm)</td>

                        <td>1250Nm@2200-5500rpm</td>
                    </tr>
                    <tr>
                        <td>TransmissionType</td>

                        <td>Automatic</td>
                    </tr>
                    <tr>
                        <td>Max Power (bhp@rpm)</td>

                        <td>1001bhp@6000rpm</td>
                    </tr>
                    <tr>
                        <td>Seating Capacity</td>

                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Boot Space (Litres)</td>

                        <td>37</td>
                    </tr>
                    <tr>
                        <td>Body Type</td>

                        <td>Convertible
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <h4>Key Features of Bugatti Veyron</h4>
        <div class="row">

            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>Power Steering</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Anti Lock Braking System</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Driver Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Automatic Climate Control</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Multi-function Steering Wheel</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Power Windows Front</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Air Conditioner</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Passenger Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Alloy Wheels</td>

                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br><br><br>
    <div style="text-align: center;">
        <h6> <i> For more information, <a href="https://www.cardekho.com/bugatti/bugatti-veyron-specifications.htm"
                    target="_blank"><strong>click here.</strong></a>
            </i>
        </h6>
    </div>
    <br>

</div>



<div id="test3" class="col s12">
    <div class="container">
        <h4>Bugatti Veyron price in New Delhi</h4>
        <p>Bugatti Veyron 16.4 Grand Sport is the top model in the Veyron lineup and the price of Veyron top model is ₹
            11.39 Crore.It returns a certified mileage of 4 kmpl. This 16.4 Grand Sport variant comes with an engine
            putting out 987 bhp @ 6000 rpm and 1250 Nm @ 2200 rpm of max power and max torque respectively. Bugatti
            Veyron 16.4 Grand Sport is available in Automatic transmission and offered in 4 colours: Black Carbon,
            Titanium Grey Metallic, Italian Red and White Silver.</p>
        <br>

        <table class="striped">
            <thead>
                <tr>
                    <th>VARIANTS</th>
                    <th>ON-ROAD PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bugatti Veyron</td>
                    <td>₹ 12.00 Crore</td>
                </tr>
            </tbody>

        </table>
    </div>
    <br><br>
    <div class="container">
        <h4>Bugatti Veyron On Road Price in New Delhi</h4>
        <table class="striped ">
            <thead>
                <tr>
                    <th><b><i><u> Bugatti Veyron</u></i></b></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ex-Showroom Price</td>

                    <td>₹ 11,01,00,000</td>
                </tr>
                <tr>
                    <td>RTO</td>

                    <td>₹ 74,38,000</td>
                </tr>
                <tr>
                    <td>Insurance</td>

                    <td>₹ 19,60,899</td>
                </tr>
                <tr>
                    <td>Others</td>

                    <td>₹ 5,01,101</td>
                </tr>
                <br>
                <tr>
                    <td><b> On-Road Price in New Delhi :</b></td>

                    <td>₹ 12,00,00,000*</td>
                </tr>
            </tbody>
        </table>
        <br><br>
    </div>
</div>


<div class="col s6" style="position: relative;  bottom: 0%; text-align:center; background-color: gray;">
    <br>
    <span>&copy;2021 Ayush | All rights reserved.</span>
    <br>
    <span>Django Project | Made by Ayush Kumar Singh | Supercars</span>
</div>