{% include "main/includes/navbar.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<script src="{% static 'main/js/script.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'main/css/materialise.css' %}">

<div>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
        <li class="tab"><a class="active" href="#test0">ABOUT</a></li>
        <li class="tab"><a href="#test1">IMAGES</a></li>
        <li class="tab"><a href="#test2">SPECS</a></li>
        <li class="tab"><a href="#test3">PRICE</a></li>
    </ul>

    <div id="test0" class="col s12">

        <div class="container">
            <h4>McLaren 720S Latest Update</h4>
            <p>McLaren has great artistry of making majestic supercars and the 720S Coupé is undoubtedly the supercar
                par excellence. Each McLaren retains the exclusivity as a powerful sports car and the 720S Coupé belongs
                to the same bloodline. The 2021 720S Coupé is now officially available in India with McLaren’s arrival
                in the nation. </p>
            <p>The 720S Coupé is a masterpiece of impeccable aerodynamic design and that makes it a space-age supercar.
                This two-door automobile is very low slung due to its always-on race character. It utilises McLaren's
                signature carbon fibre monocoque tub called “Monocage II” which is as light as feather. The
                triangular-shaped headlamp unit doubles up as air intakes. The air swiftly travels via a sophisticated
                air bridge created inside the body to ultimately cool the almighty V8 mill. At the back, there is a
                power-assisted spoiler which not only increases downforce but also acts as an air brake to provide
                additional stopping force.</p>
            <p>McLaren is well-known for making superior driver-focused sports cars and therefore its cars do not have
                any luxury features or an opulent interior for that matter. The 720S Coupé is not an exception to this
                deep philosophy. Being a driver-oriented car, it does not have huge screens or a plethora of switches
                inside. However, there is a portrait-shaped infotainment screen with navigation and also a unique
                digital instrument cluster. McLaren offers full leather or Alcantara upholstered sports seats in the
                car.</p>
            <p>Here is the all-important part of the McLaren story. The 720S Coupé is powered by an M840T 3,994cc
                twin-turbocharged V8 petrol engine married to a seven-speed automatic transmission. This mid-mounted
                mill develops exhilarating 710bhp at 7,250rpm and 770Nm of torque at 5,500rpm. All that power propels
                the 720S Coupé from 0 to 100kmph in a staggering 2.9 seconds while it achieves a 0 to 200kmph time in
                just 7.8 seconds. This coupé has a phenomenal top speed of 341kmph. </p>
        </div>

        <br><br>
        <div class="container">
            <h4>McLaren 720S User Reviews</h4>

            <div class="row">
                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Practicality, comfort and boot space
                                    </b></p> <br>
                                <p>The McLaren 720S is designed for driving thrills, not trips to the DIY shop, so as
                                    such you wouldn’t expect it to offer much in the way of load space. </p>
                                <p>However, the 720S is so easy to drive and so comfortable that it’s hard to think of a
                                    supercar better suited to daily driving. </p>
                            </div>
                            <div class="card-action">
                                <p> By Neville Daruwala</p>
                                <p><small>On: Jan 31, 2021 | 132 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Best car in performance.</b></p> <br>
                                <p>Spectacular acceleration and astonishing handling meet excellent ride quality for a
                                    Jekyll and Hyde character.It’s especially notable for its terrific
                                    all-round vision. </p>
                            </div>
                            <div class="card-action">
                                <p>By DHIRAJ KUMAR</p>
                                <p><small>On: Mar 09, 2020 | 105 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Interior, design and technology
                                    </b></p> <br>
                                <p>From its functional yet beautiful exterior style, to its luxuriously finished cabin
                                    and on-board tech, the 720S impresses
                                </p>
                            </div>
                            <div class="card-action">
                                <p>By Kartikeya Pradhan</p>
                                <p><small>On: Nov 03, 2020 | 52 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s6">
                    <div class="col s12 m7">
                        <div class="card medium hoverable" style="width: 150%; height: 40%;">
                            <div class="card-content">
                                <p><b>Great Car.</b></p> <br>
                                <p>If you’re in the market for a McLaren 720S, you’ll need plenty of pocket money
                                </p>
                            </div>
                            <div class="card-action">
                                <p>Shubham Modi</p>
                                <p><small>On: Jan 16, 2020 | 33 Views</small></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>

<div id="test1" class="col s12">
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/mc1.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/mc2.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/mc3.jpg' %}" height="100%" width="100%">
        </div>

    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/mc4.jpg' %}" height="100%" width="100%">
        </div>
    </div>
    <div style="background-color: rgb(241, 243, 237);">
        <div class="container">
            <img src="{% static 'main/images/mc5.jpg' %}" height="100%" width="100%">
        </div>
    </div>

</div>

<div id="test2" class="col s12">
    <div class="container">
        <h4>McLaren 720S Specs, Features and Price</h4>
        <p>The entry-level model for McLaren in India will be the GT, with a price tag of Rs 3.72 crore (ex-showroom).
            The mid-engined grand tourer is powered by a 4.0-litre twin-turbo V8 motor that produces 612bhp and 630Nm of
            torque. Paired to a seven-speed dual-clutch transmission, the model can sprint from 0-100kmph in 3.2
            seconds.</p>
        <p>The McLaren 720S and 720S Spider have also been introduced in the country with a price tag of Rs 4.65 crore
            and Rs 5.04 crore (all prices, ex-showroom) respectively. Under the hood of the McLaren 720S range is a
            4.0-litre twin-turbo V8 engine that produces 710bhp and 770Nm of torque. This engine is paired with a
            seven-speed dual-clutch transmission. The model can attain speeds of 100kmph from a standstill in 2.9
            seconds.</p>
    </div>
    <div class="container">
        <h4>Key Specifications of McLaren 720S</h4>
        <div class="row">

            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>Fuel Type</td>

                        <td>Petrol</td>
                    </tr>
                    <tr>
                        <td>Engine</td>

                        <td>4.0L, V8, Twin Electrically-Actuated,
                            Twin Scroll Turbochargers</td>
                    </tr>
                    <tr>
                        <td>Max Power (bhp@rpm)</td>

                        <td>710 BHP at 7,500 RPM</td>
                    </tr>
                    <tr>
                        <td>Max Torque (nm@rpm)</td>

                        <td>770 NM at 5,500 RPM</td>
                    </tr>
                    <tr>
                        <td>TransmissionType</td>

                        <td>7-Speed Reverse Seamless Shift Gearbox</td>
                    </tr>
                    <tr>
                        <td>Suspension</td>

                        <td>Double Wishbone Adaptive Suspensions</td>
                    </tr>
                    <tr>
                        <td>Seating Capacity</td>

                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Dry Weight</td>

                        <td>1,419 kg</td>
                    </tr>
                    <tr>
                        <td>Body Structure</td>

                        <td>Carbon Fibre Monocage</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="container">
        <h4>Key Features of McLaren 720S</h4>
        <div class="row">

            <table class="highlight responsive-table ">
                <tbody>
                    <tr>
                        <td>Power Steering</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Anti Lock Braking System</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Driver Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Automatic Climate Control</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Multi-function Steering Wheel</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Power Windows Front</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Air Conditioner</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Passenger Airbag</td>

                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td>Alloy Wheels</td>

                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <br><br><br>
    <div style="text-align: center;">
        <h6> <i> For more information, <a href="https://www.cardekho.com/mcerrari/mc8-tributo/specs"
                    target="_blank"><strong>click here.</strong></a>
            </i>
        </h6>
    </div>
    <br>

</div>



<div id="test3" class="col s12">
    <div class="container">
        <h4>McLaren 720S Price in New Delhi</h4>
        <p>The McLaren 720S Price in Delhi starts from ₹ 5.35 Crore and goes upto ₹ 5.80 Crore. 720S is a Coupe, offered
            with a choice of 3994 cc Petrol engine options. For Petrol engine powered by 3994 cc on road price ranges
            between ₹ 5.35 - 5.80 Crore.</p>
        <br>

        <table class="striped">
            <thead>
                <tr>
                    <th>VARIANTS</th>
                    <th>ON-ROAD PRICE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>720S Coupe</td>
                    <td>₹ 5.35 Crore</td>
                </tr>
                <tr>
                    <td>720S Spider</td>
                    <td>₹ 5.80 Crore</td>
                </tr>
            </tbody>

        </table>
    </div>
    <br><br>
    <div class="container">
        <h4>McLaren 720S On Road Price in New Delhi</h4>
        <table class="striped ">
            <thead>
                <tr>
                    <th><b><i><u> 720S Coupe</u></i></b></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ex-Showroom Price</td>

                    <td>₹ 4,65,00,000</td>
                </tr>
                <tr>
                    <td>RTO</td>

                    <td>₹ 47,04,000</td>
                </tr>
                <tr>
                    <td>Insurance</td>

                    <td>₹ 18,24,604</td>
                </tr>
                <tr>
                    <td>Others</td>

                    <td>₹ 4,65,500</td>
                </tr>
                <br>
                <tr>
                    <td><b> On-Road Price in New Delhi :</b></td>

                    <td>₹ 5,34,94,104*</td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <table class="striped ">
            <thead>
                <tr>
                    <th><b><i><u> 720S Spider</u></i></b></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ex-Showroom Price</td>

                    <td>₹ 5,04,00,000</td>
                </tr>
                <tr>
                    <td>RTO</td>

                    <td>₹ 50,94,000</td>
                </tr>
                <tr>
                    <td>Insurance</td>

                    <td>₹ 19,74,998</td>
                </tr>
                <tr>
                    <td>Others</td>

                    <td>₹ 5,04,500</td>
                </tr>
                <br>
                <tr>
                    <td><b> On-Road Price in New Delhi :</b></td>

                    <td>₹ 5,79,73,498*</td>
                </tr>
            </tbody>
        </table>
        <br><br>
    </div>
</div>


<div class="col s6" style="position: relative;  bottom: 0%; text-align:center; background-color: gray;">
    <br>
    <span>&copy;2021 Ayush | All rights reserved.</span>
    <br>
    <span>Django Project | Made by Ayush Kumar Singh | Supercars</span>
</div>