{% include "main/includes/navbar.html" %}
{% include "main/includes/messages.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'main/css/materialise.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body style="background-color: rgb(196, 199, 214); background-image: url('/static/main/images/t1.jpg');">
    <div class="container">
        <br><br>
        <form method="POST">
            {% csrf_token %}
            <!-- Always Remember to add this TOKEN whenever using a form because it keeps form safe-->
            {{form.as_p}}
            <br><br>
            <button class="btn" type="submit">Submit</button>
            <br>
        </form>
    </div>

    <div class="col s6" style="text-align:center; background-color: gray;">
        <br>
        <span>&copy;2021 Ayush | All rights reserved.</span>
        <br>
        <span>Django Project | Made by Ayush Kumar Singh | Supercars</span>
    </div>

</body>

</html>